.body-content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: var(--bs-body-color);
}

.mode-dropdown {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 15em;
}

.dropdown-menu {
    min-width: 15em;
}

.dropdown-item:active {
    background: var(--bs-body-color);
}

.solution {
    display: flex;
    gap: 0.5em;
    padding: 0.5em 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-box {
    min-height: 70vh;
    width: 50vw;
    border-radius: 5px;
}

.loader,
.error,
.initialize {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-weight: 300;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
}

.result-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.result-box {
    overflow: auto;
    padding: 1em;
    text-align: justify;
    text-justify: inter-word;
    background: var(--bs-body-color);
    border-radius: 0.6em;
    width: 100%;
}

.source-docs {
    background: var(--bs-body-color);
    border-radius: 0.6em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.source-docs-header {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    justify-content: flex-start;
    align-items: center;
}

.document-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-left: 0;
}

.document-details {
    display: flex;
    gap: 0.4em;
    align-items: baseline;
    justify-content: flex-start;
}

.doc-title {
    text-align: justify;
    text-justify: inter-word;
}

.prompt {
    display: flex;
    gap: 0.5em;
    padding: 0 0.5em;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.prompt-input {
    width: 50vw;
    min-height: 5vh !important;
}

.btn-span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    width: 2.5em;
    height: 2.5em;
}

.submit-section {
    display: flex;
    flex-direction: row-reverse;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-danger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background: var(--bs-danger-text-emphasis);
    color: var(--bs-danger-border-subtle);
}