<div [attr.data-bs-theme]="theme" class="body-content">
  <span class="header">
    <h1 class="title">{{ title }}</h1>
  </span>

  <div class="solution">
    <div class="result">
      <p class="result-box" text-align="justify">{{ streamText }}</p>
    </div>
  </div>

  <div class="prompt">
    <textarea class="form-control prompt-input" placeholder="Enter prompt"
    [disabled]="isFetching" [(ngModel)]="promptText" rows="1"
    ></textarea>

    <span class="btn-span">
      <button class="btn btn-secondary submit-btn" type="button" (click)="getAnswer()">
        <span *ngIf="!isFetching" class="button-content">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="text-white dark:text-black">
            <path d="M7 11L12 6L17 11M12 18V7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            </path>
          </svg>
        </span>
        <span *ngIf="isFetching" class="button-content">
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </span>
      </button>
    </span>
  </div>

</div>